.container {
  background-color: var(--component-color);
  width: 90%;
  margin: 1.5rem auto;
  border-radius: 0.4rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  /* gap: 1rem; */
  width: 90%;
  height: 7rem;
}

.container img {
  width: 2.5rem;
}

.hour {
  margin: 0 1rem 0 1rem;
  text-align: center;
  flex-shrink: 0;
}
