.forecastBox {
  background-color: var(--component-color);
  width: 90%;
  margin: 1.5rem auto;
  border-radius: 0.4rem;
  overflow: hidden;
}

.currentDay {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forecastEl:nth-child(2) {
  border-top: #fcfafa 0.1rem solid;
  border-bottom: #fcfafa 0.1rem solid;
}

.iconBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconBox > img {
  width: 2.5rem;
  margin-bottom: 0.5rem;
}

.iconBox > p {
  margin: 0.5rem;
}

.forecastEl {
  display: flex;
  flex-direction: column;
}

.hours {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  width: 100%;
  margin-left: 1rem;

  max-height: 0;
  /* opacity: 0; */
  overflow-x: auto; /* ✅ allow horizontal scroll */
  overflow-y: hidden;

  transition: max-height 0.4s ease, opacity 0.3s ease, padding 0.3s ease;
}

.open {
  max-height: 12.5rem;
  opacity: 1;
  padding: 1rem 0;
}

.endEl {
  margin: 0 1rem 0 1rem;
}

.hourBoxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.hourBoxes > img {
  width: 2rem;
}
