.current {
  margin: 0 auto;
  display: flex;
  width: 90%;
  color: whitesmoke;
  background-color: var(--component-color);
  justify-content: space-between;
  padding: 1rem 0 1rem 0;
}

h2,
p {
  margin: 0;
  padding: 0;
}

.current p {
  font-size: 1.5rem;
  margin: 0.8rem 0 0.8rem 0;
}

.current h2 {
  font-size: 2.5rem;
}

.iconBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 0 0.4rem 0 0.4rem;
  margin-left: 0.7rem;
}

.infoBox {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.infoBox div {
  width: 10rem;
}

.infoBox p {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.area {
  margin-top: 0.2rem;
}

.temp {
  margin-bottom: 0.2rem;
}
