.header {
  color: whitesmoke;
  display: flex;
  background-color: var(--component-color);
  margin-bottom: 2.5rem;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1.3rem;
}

.btn {
  background-color: var(--background-color);
  margin-right: 1.3rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.3rem;
  color: whitesmoke;
}
