:root {
  --background-color: #414a58;
  --component-color: #0c1b24;
}

body {
  margin: 0;
  padding: 0;
  color: #fcfafa;
  box-sizing: border-box;
  background-color: var(--background-color);
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

h2,
p {
  margin: 0;
  padding: 0;
}

@media (min-width: 1201px) {
  main {
    background-color: var(--component-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75%;
    margin: 0 auto;
  }
}
